{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ title }}
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'basketapp/basket_style.css' %}">
{% endblock %}
{% block js %}
    <script src="{% static 'basketapp/js/basket_scripts.js' %}"></script>
{% endblock %}
{% block content %}
		<div class="hero-white">
			<div class="header clearfix">
			{% include 'includes/main_menu.html' %}
			</div>
		</div>
		<div class="basket_container">
			<h2>Ваша корзина, {{ user.username }}</h2>
			{% include 'basketapp/includes/inc_basket.html' %}
		</div>
{% endblock %}