{% extends 'authapp/base.html' %}

{% block title %} {{ title }} {% endblock %}
{% block greeting %} {{ greeting }} {% endblock %}
{% block content %}
<div class="user_avatar">
    <img src="/media/users_avatar/{{ user.avatar|default:"avatar.png" }}" class="w-25">
</div>
<form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ edit_form.as_p }}
    <br>
    <input class="form-control" type="submit" value="сохранить">
</form>
<a href="{% url 'mainapp:home' %}">Вернуться на главную</a>
{% endblock %}