{% extends 'authapp/base.html' %}
{% load static %}
{% block title %}
    {{ title }}
{% endblock %}
{% block forms %}
<div class="main_container">
    <div id="wrapper" class="editform">
        <div id="register" class="animate form">
            <form action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_filed.errors }}
                <h1>GeekShop</h1> 
                <div class="edit_row">
                    <div class="edit_col">
                        <p> 
                            <label for="{{ form.username.id_for_label }}" class="uname" data-icon="u">Логин</label><br>
                            {{ edit_form.username }}
                        </p>
                        <p> 
                            <label for="{{ form.last_name.id_for_label }}" class="uname" data-icon="u">Имя</label><br>
                            {{ edit_form.first_name }}
                        </p>
                        <p> 
                            <label for="{{ form.last_name.id_for_label }}" class="uname" data-icon="u">Фамилия</label><br>
                            {{ edit_form.last_name }}
                        </p>
                        <p>
                            <label for="{{ form.email.id_for_label }}" class="youmail" data-icon="e" >Электронная почта</label><br>
                            {{ edit_form.email }}
                        </p>
                        <p>
                            <label for="{{ form.birth_date.id_for_label }}" class="youmail" data-icon="u" >День рождения</label><br>
                            {{ edit_form.birth_date }}
                        </p>
                        <p class="keeplogin">
                            <label for="{{ form.tagline.id_for_label }}" class="uname" data-icon="u">Тэги</label><br>
                            {{ profile_form.tagline }}
                        </p>
                    </div>
                    <div class="edit_col">
                        <div class="user_avatar">
                            <img src="/media/{{ user.avatar|default:"users_avatar/avatar.png" }}" class="w-50">
                        </div>
                        <p>
                            <label for="{{ form.first_name.id_for_label }}">Изменить аватар</label><br>
                            {{ edit_form.avatar }}
                        </p>
                        <p class="keeplogin">
                            <label for="{{ form.about_me.id_for_label }}" class="uname" data-icon="u">Обо мне:</label><br>
                            {{ profile_form.about_me }}
                        </p>
                        <p class="keeplogin">
                            {{ edit_form.age }}
                            <label for="{{ form.age.id_for_label }}">Мне есть 18!</label><br>
                        </p>
                        <p class="keeplogin">
                            {{ edit_form.promo_accept }}
                            <label for="{{ form.promo_accept.id_for_label }}">Согласен на проморассылку!</label><br>
                        </p>
                        <p class="keeplogin">
                            <label for="{{ form.gender.id_for_label }}" class="uname">Пол</label><br>
                            {{ profile_form.gender }}
                        </p>
                        <p class="signin button"> 
                            <input type="submit" value="Обновить"/>
                        </p>
                    </div>
                </div>
                <p class="change_link editform">
                    {% if messages %} {% for message in messages %} <b>{{ message }}</b> {% endfor %} {% endif %}
                    <a href="{% url 'mainapp:home' %}" class="to_main">На главную</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}