{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container-fluid">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table mr-1"></i>
                {{ title }}
            </div>
            <div class="card-body">
                Уверены, что хотите удалить категорию {{ category_to_delete.name }}
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Название</th>
                                <th>Описание</th>
                                <th>Последенее обновление</th>
                                <th>Активный</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr>
                                <td>{{ category_to_delete.name }}</td>
                                <td>{{ category_to_delete.description }}</td>
                                <td>{{ category_to_delete.updated_at }}</td>
                                <td class="text-center">
                                    {% if category_to_delete.is_active %}
                                        <i class="fa fa-check-circle"></i>
                                    {% else %}
                                        <i class="fa fa-times-circle"></i>
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form method="post" action="{% url 'admin_staff:category_delete' category_to_delete.pk %}">
                  {% csrf_token %}
                  <input class="btn btn-danger" type="submit" value="удалить">
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'admin_staff:categories' %}">
                    <button class="btn btn-success">Вернуться назад</button>
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}