{% extends 'adminapp/base.html' %}
{% load static %}

{% block content %}
<div class="row container-fluid">
{% for object in objects %}
    <div class="card m-2" style="width: 18rem;">
      <img src="{{ object.image.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ object.name }}</h5>
        {% if object.is_active %}
            <p class="card-text">{{ object.short_description }}</p>
        {% else %}
        <p class="card-text"><mark>Товар неактивен</mark></p>
        {% endif %}
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Цена — {{ object.price }}</li>
        <li class="list-group-item">Количество — {{ object.quantity }}</li>
        <li class="list-group-item">Категория — {{ object.category }}</li>
      </ul>
      <div class="card-body">
        <a href="{% url 'admin_staff:product_update' object.pk %}" class="card-link">Править</a>
        {% if object.is_active %}
            <a href="{% url 'admin_staff:product_delete' pk=object.id %}" class="card-link">Удалить</a>
        {% endif %}
      </div>
    </div>
{% endfor %}
  </div>
{% endblock %}