
    <a href="{% url 'mainapp:home' %}" class="logo"></a>
    <ul class="menu">
        <li><a href="{% url 'mainapp:home' %}">домой</a></li>
        <li><a href="{% url 'products:products' %}">продукты</a></li>
        <li><a href="{% url 'mainapp:contacts' %}">контакты</a></li>
        <li>
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'auth:edit' %}">
                {% if user.first_name %}
                    {{ user.first_name }}
                {% else %}
                    {{ user.username }}
                {% endif %}
            </a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">выйти</a>
        {% else %}
            <a href="{% url 'auth:login' %}">войти</a>
        {% endif %}
        </li>
        <li>
            <a href="/">{% if basket %} {{ basket|length }} {% endif %}</a>
        </li>
    </ul>
    <a href="#" class="search"></a>