{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ title }}
{% endblock %}

{% block content %}
		<header class="header_slider">
			<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
			  <div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
				<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
			  </div>
			  <div class="carousel-inner">
				<div class="carousel-item active">
					<div class="carousel-item_inner img_1">
						<div class="text-slider">
							<h3 class="green">{{ promo.0.promo_title }}</h3>
							<h3 class="big">{{ promo.0.promo_text }}</h3>
							<p>{{ promo.0.promo_slogan }}</p>
							<a href="{% url 'products:products' %}" class="button-order">Каталог</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-item_inner img_2">
						<div class="text-slider">
							<h3 class="green">{{ promo.1.promo_title }}</h3>
							<h3 class="big">{{ promo.1.promo_text }}</h3>
							<p>{{ promo.1.promo_slogan }}</p>
							<a href="{% url 'products:products' %}" class="button-order">Каталог</a>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="carousel-item_inner img_3">
						<div class="text-slider">
							<h3 class="green">{{ promo.2.promo_title }}</h3>
							<h3 class="big">{{ promo.2.promo_text }}</h3>
							<p>{{ promo.2.promo_slogan }}</p>
							<a href="{% url 'products:products' %}" class="button-order">Каталог</a>
						</div>
					</div>
				</div>
			  </div>
			</div>
		</header>

		<main class="container">
			<div class="featured-menu d-flex">
				<a class="active p-2" href="#">Популярные</a>
				<a class="p-2"href="#">Новинки</a>
				<a class="ms-auto p-2" href="{% url 'products:products' %}">показать все ></a>
			</div>
			
			<div class="tab-content">
				{% for product in products_list %}
				<div class="block">
					<a href="{% url 'products:detail' pk=product.pk %}"><img src="{{ product.image.url }}" alt="" width="270px" height="270px">
						<div class="text">
							<img src="{% static '/mainapp/img/icon-hover.png' %}" alt="img">
							<h4>{{ product.name }}</h4>
							<p>{{ product.short_description }}</p>
						</div> 
					</a>
				</div>
				{% endfor %}
			</div>
		</main>
{% endblock %}
