{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ title }}
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'products/products_style.css' %}">
{% endblock %}
{% block content %}
    <div class="hero-white">
        <div class="header clearfix">
{% include 'includes/main_menu.html' %}
        </div>
    </div>
    <div class="details">
        <div class="details-products_upd">
            <div>
                <div class="slider-product_upd">
                    <img src="{{ product.image.url }}">
                </div>
                <div class="navi">
                    <a href="#"></a><a href="#"></a><a href="#"></a>
                </div>
            </div>

            <div class="description description__upd">
                <h3 class="big-bold__upd">{{ product.name }}</h3>
                <h3 class="red">горячее предложение</h3>
                <p class="price">{{ product.price }}</p>
                <a href="{% url 'basket:add' pk=product.pk %}" class="red-button">
                    заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
                </a>
                <div class="description-text">
                    <p>{{ product.description }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}