{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ title }}
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'products/products_style.css' %}">
{% endblock %}
{% block content %}
		<div class="hero-white">
			<div class="header clearfix">
{% include 'includes/main_menu.html' %}
			</div>
		</div>

		<div class="details">
			<div class="links_upd">
				<ul class="links-menu_upd">
					<li>
						<a href="{% url 'products:products' %}"
						   class="{% if request.resolver_match.kwargs.pk is None %}active_upd{% endif %}">ВСЕ</a>
					</li>
					{% for link in links_menu %}
					<li>
						<a href="{% url 'products:category' link.id %}"
						   class="{% if request.resolver_match.kwargs.pk == link.pk %}active_upd{% endif %}">{{ link.name }}
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="details-products_upd">
				<div>
					<div class="slider-product_upd">
						<img src="{{ hot_product.image.url }}">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="{% static 'mainapp/img/controll.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static 'mainapp/img/controll1.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static 'mainapp/img/controll2.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description description__upd">
					<h3 class="big-bold__upd">{{ hot_product.name }}</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price">{{ hot_product.price }}</p>
					<a href="{% url 'basket:add' pk=hot_product.pk %}" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>{{ hot_product.description }}</p>
					</div>
				</div>
			</div>

			{% if category %}
			<div class="related_upd">
				<div class="title_upd">
					<h2>Категория: {{ category.name|title }}</h2>
				</div>
				
				<div class="related-products_upd">
					{% for product in products %}
					<div class="block">
						<a href="{% url 'products:detail' pk=product.pk %}"><img src="{{ product.image.url }}" alt="" width="368px">
							<div class="text">
								<img src="{% static 'mainapp/img/icon-hover.png' %}" alt="img">
								<h4>{{ product.name }}</h4>
								<p>{{ product.short_description }}</p>
								<p>{{ product.price }} ₽</p>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			<div class="related_upd same_products">
				{% if category %}
				<div class="title_upd">
					<h2>Похожие товары:</h2>
					<a class="explore_upd" href="{% url 'products:products' %}">показать все ></a>
				</div>
				<div class="tab-content_upd">
				{% for product in same_products %}
				<div class="block">
					<a href="{% url 'products:detail' pk=product.pk %}"><img src="{{ product.image.url }}" alt="" width="270px" height="270px">
						<div class="text">
							<img src="{% static '/mainapp/img/icon-hover.png' %}" alt="img">
							<h4>{{ product.name }}</h4>
							<p>{{ product.short_description }}</p>
						</div>
					</a>
				</div>
				{% endfor %}
				{% else %}
				<div class="title_upd">
					<h2>Все товары:</h2>
				</div>
				<div class="tab-content_upd">
				{% for product in products %}
				<div class="block">
					<a href="{% url 'products:detail' pk=product.pk %}"><img src="{{ product.image.url }}" alt="" width="270px" height="270px">
						<div class="text">
							<img src="{% static '/mainapp/img/icon-hover.png' %}" alt="img">
							<h4>{{ product.name }}</h4>
							<p>{{ product.short_description }}</p>
						</div>
					</a>
				</div>
				{% endfor %}
				{% endif %}
			</div>
			</div>
		</div>
{% endblock %}
