{% extends 'base.html' %}
{% load static %}
{% block title %}
	{{ title }}
{% endblock %}
{% block css %}
	<link rel="stylesheet" href="{% static 'products/products_style.css' %}">
{% endblock %}
{% block content %}
		<div class="hero-white">
			<div class="header clearfix">
{% include 'includes/main_menu.html' %}
                <a href="#" class="basket"></a>
			</div>
		</div>

		<div class="details">
			<div class="links_upd">
				<ul class="links-menu_upd">
					<li><a href="{% url 'products:products' %}">ВСЕ</a></li>
					{% for link in links_menu %}
					<li><a href="{% url 'products:category' link.id %}">{{ link.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
{% comment json.categories %}
			<div class="links_json clearfix">
				<ul class="links-menu">
					{% for link_json in products_json %}
					<li><a href="{{link_json.href}}">{{ link_json.name }}</a></li>
					{% endfor %}
				</ul>
			</div>
{% endcomment %}
			<div class="details-products_upd">
				<div class="details-slider">
					<div class="slider-product">
						<img src="{% static 'mainapp/img/slider1.jpg' %}">
					</div>
					<div class="slider-control">
						<div class="block">
							<a href="#"><img src="{% static 'mainapp/img/controll.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static 'mainapp/img/controll1.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
						<div class="block">
							<a href="#"><img src="{% static 'mainapp/img/controll2.jpg' %}" alt="">
								<div class="text"></div>
							</a>
						</div>
					</div>
				</div>

				<div class="description description__upd">
					<h3 class="big-bold__upd">Отличный стул</h3>
					<h3 class="red">горячее предложение</h3>
					<p class="price"> 2585.9 <span>руб</span></p>
					<a href="#" class="red-button">
						заказать <i class="fa fa-chevron-right" aria-hidden="true"></i>
					</a>
					<div class="description-text">
						<p>Расположитесь комфортно.</p> 
						<p>Отличное качество материалов
						позволит вам это.</p> 
						<p>Различные цвета</p>
						<p>высочайший уровень
						эргономики и прочность.</p>
					</div>
				</div>
			</div>

			{% if category %}
			<div class="related_upd">
				<div class="title_upd">
					<h2>Категория: {{ category.name|title }}</h2>
				</div>
				
				<div class="related-products_upd">
					{% for product in products %}
					<div class="block">
						<a href="#"><img src="{{ product.image.url }}" alt="" width="368px">
							<div class="text">
								<img src="{% static 'mainapp/img/icon-hover.png' %}" alt="img">
								<h4>{{ product.name }}</h4>
								<p>{{ product.short_description }}</p>
								<p>{{ product.price }} ₽</p>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}

			<div class="related_upd same_products">
				<div class="title_upd">
					<h2>{% if category %}Похожие товары:
						{% else %} Все товары:
						{% endif %}
					</h2>
					<a class="explore_upd" href="#">показать все ></a>
				</div>
				<div class="related-products_upd">
					{% for product in same_products %}
					<div class="block">
						<a href="#"><img src="{{ product.image.url }}" alt="" width="368px">
							<div class="text">
								<img src="{% static 'mainapp/img/icon-hover.png' %}" alt="img">
								<h4>{{ product.name }}</h4>
								<p>{{ product.short_description }}</p>
								<p>{{ product.price }} ₽</p>
							</div>
						</a>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}
