{% extends 'base.html' %}
{% load static %}

{% comment %}
    {% block title %}
        {{ title }}
    {% endblock %}

    {% block js %}
        <script src="{% static 'basketapp/js/basket_scripts.js' %}"></script>
    {% endblock %}
{% endcomment %}

{% block css %}
    <link rel="stylesheet" href="{% static 'basketapp/basket_style.css' %}">
{% endblock %}

{% block content %}
	<div class="basket_container">
		<h2>Ваша корзина, {{ user.username }}</h2>
        <table class="basket_table">
            <thead>
                <tr class="bcg">
                    <th>ID</th>
                    <th>Создан</th>
                    <th>Обновлен</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                {% for item in object_list %}
                    {% if item.is_active %}
                    <tr class="item">
                        <td>{{ item.pk }}</td>
                        <td>{{ item.created|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.updated|date:"Y-m-d H:i:s" }}</td>
                        <td>{{ item.get_status_display }}</td>
                        <td>
                            <a href="#">
                                LookUp
                            </a>
                        </td>
                        <td>
                            {% if item.status == 'FM' %}
                                <a href="#">
                                    редактировать
                                </a>
                            {% endif %}
                        </td>
                        <td>
                            {% if item.status == 'FM' %}
                                <a href="#">
                                    удалить
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
	</div>
{% endblock %}
{% block script %}
    <script   src="https://code.jquery.com/jquery-3.6.0.min.js"   integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="   crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}