{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="category_delete container my-3">
        <div class="card">
            <div class="card-header">Удаление заказа</div>
            <div class="card-body">
                {% include 'ordersapp/includes/inc_order_summary.html' %}
                
            </div>
            <div class="card-footer">
                <form action="{% url 'orders:order_delete' object.pk %}" method="post" class="d-flex justify-content-between">
                    {% csrf_token %}
                    <input class="btn btn-danger w-25" type="submit" value="Удалить">
                    <a href="{% url 'orders:orders_list' %}" class="btn btn-primary w-25">Отмена</a>
                </form>
                
            </div>
        </div>




       
       

    </div>
{% endblock %}